<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Factory Sim</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <style>
            body {
                /* This moves the content below the navbar */
                padding-top: 90px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="css/smoothness/jquery-ui-1.9.2.custom.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="brand" href="#">Factory Sim</a>
                    <ul id="clock"></ul>
                    <ul id="control-bar" class="nav pull-right">
                        <ul id="bank"></ul>
                        <ul id="options"></ul>
                    </ul>

                </div>
            </div>
            <div id="workforce">
            </div>
        </div>

        <div id="content" class="container">
        </div> <!-- /container -->

        <div id="modal" class="modal hide fade"></div>

        <script type="text/template" id="welcome_template">
            <h1>Welcome to the factory simulation</h1>
            <p>Please identify yourself in order to get credit.  If you have a school login, use that.
            <br/>If you are working in a group, enter additional names by clicking on the "add another person" button.
            </p>
            <form class="form-horizontal span7">
                <div class="control-group">
                    <label class="control-label">Names:</label>
                    <div class="controls">
                        <input type="text" placeholder="What's your name?"/>
                    </div>
                </div>
                <button class="btn btn-primary add" type="button">
                    <i class="icon-plus icon-white"></i> Add another person
                </button>
                <button class="btn submit pull-right" type="button">Submit</button>
            </form>
        </script>

        <script type="text/template" id="clock_template">
            <li><button class="btn">
                <% running ? print('Pause') : print('Start') %>
            </button></li>
            <li class="divider-vertical"></li>
            <li class="navbar-text">
                <strong>Day: </strong><span class="day"><%= day %></span>
                <strong>Time: </strong>
                <span class="time"><%= hour %>:<% minute<10? print('0'+minute):print(minute) %></span>
            </li>
        </script>

        <script type="text/template" id="bank_template">
            <li class="divider-vertical"></li>
            <li class="navbar-text">
                <strong>Cash: </strong><span class="cash">$<%= cash %></span>
            </li>
        </script>

        <script type="text/template" id="options_template">
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Options<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li class="slider-holder">
                        <span>Speed: </span><span class="speed">1x</span>
                        <div class="slider"></div>
                    </li>
                    <li><a href="#" class="reset">Reset</a></li>
                </ul>
            </li>
        </script>

        <script type="text/template" id="workforce_template">
            <div class="wf-container clearfix" style="">
                <strong>Workforce</strong>
                <div class="workers"></div>
            </div>
            <div class="toggle pull-right">
                <button class="btn btn-small">
                    <i class="wf-icon icon-chevron-up"></i>
                    <span class="wf-text"> Hide Workforce</span>
                </button>
            </div>
        </script>

        <script type="text/template" id="worker_template">
            <div class="worker <%= type_class %> clearfix" >
                <div class="person">
                    <div class="icon"></div>
                    <div class="name"><%= name %></div>
                </div>
                <div class="info" <% if(status=="Unassigned")print('style="display:none;"') %>>
                    <div>
                        <span>Status:</span>
                        <span class="status"><%= status %></span>
                    </div>
                    <div class="progressbar">
                        <div class="progress">
                            <div class="bar" style="width:<% print((progress/taskTime)*100) %>%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="limit-popover_template">
            <form class="limit-popover">
                <div class="input-append">
                    <input class="span2" type="text">
                    <button class="set btn" type="button">Set</button>
                </div>
                <button class="cancel btn btn-small" type="button">Cancel</button>
            </form>
        </script>

        <script type="text/template" id="job_template">
            <div class="info">
                <div class="skill"><%= skill_required %></div>
                <div>Task time: <%= taskTime %></div>
            </div>
            <div class="stats">
                <div>
                    <span class="limit">Set Limit</span>
                </div>
                <div class="inventory">
                    <span>Inventory: </span>
                    <span class="value"><%= inventory %></span>
                </div>
            </div>
            <div class="workers"></div>
        </script>

        <script type="text/template" id="market_template">
            <div><%=name%></div>
            <div class="clearfix">
                <div class="stats">
                    <div>Demand: <%=demand%></div>
                    <div>Produced: <span class="produced"><%=produced%></span></div>
                </div>
                <div class="info">
                    <div>Unit Revenue: $<%=unitPrice%></div>
                    <div>Revenue: <span class="revenue">$0</span></div>
                </div>
            </div>
        </script>

        <script type="text/template" id="resource_template">
            <div><%=name%></div>
            <div class="clearfix">
                <div class="stats">
                    <div>Price: $<%=price%></div>
                    <div>Purchased: <span class="purchased"><%= purchased %></span></div>
                    <div>Inventory: <span class="inventory"><%= inventory %></span></div>
                </div>
                <div class="controls">
                    <div>Buy:</div>
                    <span class="btn-group">
                        <button class="btn btn-mini btn-primary" data-amount="1">1</button>
                        <button class="btn btn-mini btn-primary" data-amount="5">5</button>
                        <button class="btn btn-mini btn-primary" data-amount="10">10</button>
                    </span>
                </div>
            </div>
        </script>

        <script type="text/template" id="dayOver_template">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Day <%=day% is over!></h3>
            </div>
            <div class="modal-body">
                <p>You have reached the end of day <%=day%>.</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn">Close</a>
            </div>
        </script>


        <!-- Thirt-Party Libraries (Order matters) -->
        <script type="text/javascript" src="js/vendor/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="js/vendor/jquery-ui-1.9.2.custom.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap.js"></script>
        <script type="text/javascript" src="js/vendor/underscore.js"></script>
        <script type="text/javascript" src="js/vendor/backbone.js"></script>
        <script type="text/javascript" src="js/vendor/backbone.marionette.js"></script>
        <script type="text/javascript" src="js/vendor/jsPlumb-1.3.16-all.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>

        <!-- Application core (Order matters) -->
        <script type="text/javascript" src="js/FactorySim.js"></script>
        <script type="text/javascript" src="js/FactorySim.Stats.js"></script>
        <script type="text/javascript" src="js/FactorySim.Sim.js"></script>
        <script type="text/javascript" src="js/FactorySim.Factory.js"></script>
        <script type="text/javascript" src="js/FactorySim.Layout.js"></script>
        <script type="text/javascript" src="js/FactorySim.Workers.js"></script>
        <script type="text/javascript" src="js/FactorySim.Floor.js"></script>

        <script type="text/javascript">
            FactorySim.start();
        </script>


    </body>
</html>
