<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Factory Sim</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <style>
            body {
                /* This moves the content below the navbar */
                padding-top: 90px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="css/smoothness/jquery-ui-1.9.2.custom.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="header-region" class="navbar navbar-inverse navbar-fixed-top"></div>
        <div id="main-region" class="container"></div>
        <div id="modal-region" class="modal hide fade"></div>
        <div id="worker-region" class="navbar-fixed-bottom"></div>










        <!-- TEMPLATES -->

        <script id="header-template" type="text/template" >
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Factory Sim</a>
                    <div class="nav pull-right">
                        <div id="controls-region"></div>
                    </div>
                </div>
            </div>
            <div id="workforce-holder"></div>
        </script>

        <script id="welcome-template" type="text/template">
            <h2>Welcome to the factory simulation</h2>
            <p>As a producer of widgets, you will apply concepts learned from the class and readings. Keep in mind that you need to think carefully about what you need to do to successfully produce enough widgets to make a positive profit. As this game is in beta form, please call Alysse over as you are playing if you  have any questions about the program.</p>
            <p><button class="btn btn-large btn-primary pull-right js-start">Start Simulator</button></p>
        </script>

        <script id="login-template" type="text/template">
            <div class="modal-header">
                <h3>Before we get started...</h3>
            </div>
            <div class="modal-body authenticate">
                <p>Please identify yourselves in order to get credit.</p>
                <div class="new-user-region"></div>
                <div class="divider-holder"></div>
                <div class="list-user-region"></div>
            </div>
            <div class="modal-footer">
                <button class="btn js-start-game" type="button">replace me</button>
            </div>
        </script>

        <script id="add-user-template" type="text/template">
            <button type="button" class="btn btn-primary js-add">Add Player</button>
        </script>

        <script id="new-user-template" type="text/template">
            <form class="form-inline">
                <p class="help-block">Enter <strong>both</strong> a first and last name <strong>OR</strong> a school ID.</p>
                <input name="firstName" class="span2" type="text" value="" placeholder="First name"/>
                <input name="lastName" class="span2" type="text" value="" placeholder="Last name"/>
                <input name="schoolId" class="span2" type="text" value="" placeholder="School ID"/>
                <button type="submit" class="btn btn-primary js-save">Save</button>
            </form>
        </script>

         <script id="new-user-template2" type="text/template">
            <form class="form-inline">
                <p class="help-block">Enter <strong>both</strong> a first and last name <strong>OR</strong> a school ID.</p>
                <div class="control-group">
                    <label class="control-label">Name:</label>
                    <div class="controls">
                        <input name="firstName" class="input-medium" type="text" value="" placeholder="First"  />
                        <input name="lastName" class="input-medium" type="text" value="" placeholder="Last"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">School ID:</label>
                    <div class="controls">
                        <input name="schoolId" class="input-medium" type="text" value="" placeholder="School ID"  />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary js-save">Save</button>
            </form>
        </script>

        <script id="user-template" type="text/template" >
            <span> <%= name() %></span>
            <span> <%= school() %></span>
            <% if(canRemove()){ %>
                <button type="button" class="btn btn-link js-remove">remove</button>
            <% } %>
        </script>

        <script id="list-user-template" type="text/template">
            <hr/>
            <h3>Players</h3>
            <ul class="user-list"></ul>
        </script>

        <script id="empty-user-template"  type="text/template">
            <p>No players! Click 'add a player' above!</p>
        </script>

        <script id="header-controls-template"  type="text/template">
            <li >
                <p class="navbar-text">
                    Cash: $<span class="cash"></span>
                </p>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Profit: <span class="profit"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="">TODO - Add profic calculator</a></li>
                </ul>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <p class="navbar-text">
                    Day: <span class="day"></span>
                    Time: <span class="time"></span>
                </p>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <div class="btn-group">
                    <button class="btn js-clock-toggle">Start</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li class="slider-holder">
                            <p>Speed: <span class="speed">1</span>x</p>
                            <div class="slider"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </script>

        <script id="floor-template"  type="text/template">
            <div id="resources-region"></div>
            <div id="jobs-region"></div>
            <div id="markets-region"></div>
        </script>

        <script id="resource-template" type="text/template" >
            <div class="heading clearfix">
                <h5 class="item-title pull-left"><%= name %></h5>
                <h5 class="item-title price pull-right">$<%= price %></h5>
            </div>
            <div class="stats">
                <div>Purchased: <span class="purchased"><%= purchased %></span></div>
                <div>Inventory: <span class="inventory"><%= inventory %></span></div>
            </div>
            <button type="button" class="btn btn-mini btn-primary pull-right js-toggle">Buy more!</button>
        </script>

        <script id="resource-popover-template" type="text/template" >
            <div class="control-group">
                <div class="input-append">
                    <input type="text" class="input-medium" placeholder="Amount?">
                    <button type="button" class="btn js-buy">Buy</button>
                </div>
                <span class="help-block"></span>
            </div>
        </script>

        <script id="job-template" type="text/template" >
            <div class="heading clearfix">
                <h5 class="item-title pull-left"><%= skillRequired %></h5>
                <h5 class="item-title pull-right"><%= taskTime %> min</h5>
            </div>
            <div class="stats">
                <div>Processed: <span class="processed"><%= processed %></span><span class="limit"></span></div>
                <div>Inventory: <span class="inventory"><%= inventory %></span></div>
            </div>
            <button type="button" class="btn btn-mini pull-right js-limit">Limit production</button>
        </script>

        <script id="job-limit-popover-template" type="text/template" >
            <div class="control-group">
                <div class="input-append">
                    <input type="text" class="input-medium" placeholder="Amount?">
                    <button type="button" class="btn js-set-limit">Set</button>
                </div>
                <span class="help-block"></span>
            </div>
            <div class="control-group pull-right">
                <button type="button" class="btn js-remove-limit">Remove Limit</button>
            </div>
        </script>

        <script id="market-template" type="text/template" >
            <div class="heading clearfix">
                <h5 class="item-title pull-left"><%= name %></h5>
                <h5 class="item-title price pull-right">+ $<%= unitProfit %></h5>
            </div>
            <div class="stats">
                <div>Produced: <span class="produced"></span>/<span class="demand"><%= demand %></span></div>
                <div>Revenue: $<span class="revenue"></span></div>
            </div>
        </script>

        <script id="worker-layout-template" type="text/template">
            <div class="btn-holder pull-left">
                <button class="btn">Workers <i class="icon-arrow-up"></i></button>
            </div>
            <div id="worker-holder"></div>
        </script>



        <!-- Thirt-Party Libraries (Order matters) -->
        <script type="text/javascript" src="js/vendor/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="js/vendor/jquery-ui-1.9.2.custom.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap.js"></script>
        <script type="text/javascript" src="js/vendor/underscore.js"></script>
        <script type="text/javascript" src="js/vendor/backbone.js"></script>
        <script type="text/javascript" src="js/vendor/backbone.marionette.js"></script>
        <script type="text/javascript" src="js/vendor/backbone-validation.js"></script>
        <script type="text/javascript" src="js/vendor/backbone.stickit.js"></script>
        <script type="text/javascript" src="js/vendor/jsPlumb-1.3.16-all.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>


        <!-- Config -->
        <script type="text/javascript" src="js/backbone/config/marionette/application.js"></script>
        <script type="text/javascript" src="js/backbone/config/marionette/regions/modalRegion.js"></script>

        <!-- Application -->
        <script type="text/javascript" src="js/backbone/factorySim.js"></script>


        <!-- Entities -->
        <script type="text/javascript" src="js/backbone/entities/_base/models.js"></script>
        <script type="text/javascript" src="js/backbone/entities/users.js"></script>
        <script type="text/javascript" src="js/backbone/entities/resources.js"></script>
        <script type="text/javascript" src="js/backbone/entities/jobs.js"></script>
        <script type="text/javascript" src="js/backbone/entities/markets.js"></script>
        <script type="text/javascript" src="js/backbone/entities/workers.js"></script>
        <script type="text/javascript" src="js/backbone/entities/game.js"></script>
        <script type="text/javascript" src="js/backbone/entities/tasks.js"></script>

        <!-- Controllers -->
        <script type="text/javascript" src="js/backbone/controllers/_base.js"></script>

        <script type="text/javascript" src="js/backbone/components/game.js"></script>

        <!-- Apps -->
        <script type="text/javascript" src="js/backbone/apps/header/header_app.js"></script>
        <script type="text/javascript" src="js/backbone/apps/header/show/show_controller.js"></script>
        <script type="text/javascript" src="js/backbone/apps/header/show/show_view.js"></script>

        <script type="text/javascript" src="js/backbone/apps/welcome/welcome_app.js"></script>
        <script type="text/javascript" src="js/backbone/apps/welcome/show/show_controller.js"></script>
        <script type="text/javascript" src="js/backbone/apps/welcome/show/show_view.js"></script>

        <script type="text/javascript" src="js/backbone/apps/user/user_app.js"></script>
        <script type="text/javascript" src="js/backbone/apps/user/login/login_controller.js"></script>
        <script type="text/javascript" src="js/backbone/apps/user/login/login_view.js"></script>
        <script type="text/javascript" src="js/backbone/apps/user/list/list_controller.js"></script>
        <script type="text/javascript" src="js/backbone/apps/user/list/list_view.js"></script>

        <script type="text/javascript" src="js/backbone/apps/factoryFloor/factoryFloor_app.js"></script>
        <script type="text/javascript" src="js/backbone/apps/factoryFloor/show/show_controller.js"></script>
        <script type="text/javascript" src="js/backbone/apps/factoryFloor/show/show_view.js"></script>

        <script type="text/javascript" src="js/backbone/apps/factoryWorkers/factoryWorkers_app.js"></script>
        <script type="text/javascript" src="js/backbone/apps/factoryWorkers/show/show_controller.js"></script>
        <script type="text/javascript" src="js/backbone/apps/factoryWorkers/show/show_view.js"></script>



        <!-- Application core (Order matters) --
        <script type="text/javascript" src="js/FactorySim.js"></script>
        <script type="text/javascript" src="js/FactorySim.Util.js"></script>
        <script type="text/javascript" src="js/FactorySim.Account.js"></script>
        <script type="text/javascript" src="js/FactorySim.Game.js"></script>
        <script type="text/javascript" src="js/FactorySim.Factory.js"></script>
        <script type="text/javascript" src="js/FactorySim.Bank.js"></script>
        <script type="text/javascript" src="js/FactorySim.Clock.js"></script>
        <script type="text/javascript" src="js/FactorySim.Workers.js"></script>

        <!-- Floor Items (Order matters) --
        <script type="text/javascript" src="js/FactorySim.FloorItem.js"></script>
        <script type="text/javascript" src="js/FactorySim.Resources.js"></script>
        <script type="text/javascript" src="js/FactorySim.Jobs.js"></script>
        <script type="text/javascript" src="js/FactorySim.Markets.js"></script>

        <!-- Remove these soon
        <script type="text/javascript" src="js/FactorySim.Stats.js"></script>
        <script type="text/javascript" src="js/FactorySim.Sim.js"></script>
        -->
        <script type="text/javascript">
            FactorySim.start({
                settings: {},
                config: {
                    resources: [
                        {"id":20, "x":0, "y":0, "name":"Raw Material A", "price":30, "purchased": 25},
                        {"id":21, "x":260, "y":0,"name":"Raw Material B", "price":35, "purchased": 25},
                        {"id":22, "x":520, "y":0, "name":"Raw Material C", "price":30, "purchased": 15},
                        {"id":23, "x":780, "y":0, "name":"Raw Material D", "price":65, "purchased": 10}],
                    jobs: [
                        {"id":16, "x":0, "y":130, "skillRequired":"Developer", "upstream":[20], "taskTime":4},
                        {"id":17, "x":260, "y":130, "skillRequired":"Developer", "upstream":[21], "taskTime":5},
                        {"id":18, "x":520, "y":130, "skillRequired":"Chemist", "upstream":[22], "taskTime":9},
                        {"id":19, "x":780, "y":130, "skillRequired":"Developer", "upstream":[23], "taskTime":15},

                        {"id":12, "x":130, "y":250, "skillRequired":"Assembler", "upstream":[16, 17], "taskTime":8, "inventory":25},
                        {"id":14, "x":520, "y":250, "skillRequired":"Engineer", "upstream":[18], "taskTime":18, "inventory":15},
                        {"id":15, "x":780, "y":250, "skillRequired":"Chemist", "upstream":[19], "taskTime":12},

                        {"id":8, "x":0, "y":380, "skillRequired":"Developer", "upstream":[12], "taskTime":15},
                        {"id":9, "x":260, "y":380, "skillRequired":"Fabricator", "upstream":[12], "taskTime":6},
                        {"id":10, "x":520, "y":380, "skillRequired":"Fabricator", "upstream":[14], "taskTime":28},
                        {"id":13, "x":780, "y":380, "skillRequired":"Engineer", "upstream":[15], "taskTime":20, "inventory":10},

                        {"id":7, "x":0, "y": 510, "skillRequired":"Chemist", "upstream":[8], "taskTime":15},
                        {"id":11, "x":780, "y":510, "skillRequired":"Fabricator", "upstream":[13], "taskTime":14},

                        {"id":4, "x":0, "y": 640, "skillRequired":"Engineer", "upstream":[7], "taskTime":20},
                        {"id":5, "x":390, "y": 640, "skillRequired":"Assembler", "upstream":[9, 10], "taskTime":9},
                        {"id":6, "x":780, "y": 640, "skillRequired":"Engineer", "upstream":[11], "taskTime":7},

                        {"id":1, "x":0, "y":770, "skillRequired":"Chemist", "upstream":[4], "taskTime":18},
                        {"id":2, "x":390, "y":770, "skillRequired":"Chemist", "upstream":[5], "taskTime":6},
                        {"id":3, "x":780, "y":770, "skillRequired":"Chemist", "upstream":[6], "taskTime":10}],
                    markets: [
                        {"id":24, "x":0, "y":900, "name": "Widget 1", "upstream":[1], "unitPrice":180, "unitProfit":115, "demand":40},
                        {"id":25, "x":390, "y":900, "name": "Widget 2", "upstream":[2], "unitPrice":240, "unitProfit":145, "demand":50},
                        {"id":26, "x":780, "y":900, "name": "Widget 3", "upstream":[3], "unitPrice":180, "unitProfit":115, "demand":40}],
                    workers: [
                        {"name": "Alice", "skill": "Chemist"},
                        {"name": "Bob", "skill": "Developer"},
                        {"name": "Carl", "skill": "Developer"},
                        {"name": "Debbie", "skill": "Engineer"},
                        {"name": "Eric", "skill": "Engineer"},
                        {"name": "Frank", "skill": "Assembler"},
                        {"name": "George", "skill": "Fabricator"},
                        {"name": "Hank", "skill": "Chemist"}]
                }

            });
        </script>


    </body>
</html>
